.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
  }
  
  .hero-left {
    flex: 1;
    padding-right: 20px; /* Add spacing between hero-left and hero-right */
  }
  
  .hero-right {
    flex: 1; /* Adjust as needed to control image size */
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .hero-right img{
    float: right;
  }
  
  /* You may need to adjust other styles according to your design */
  